html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  color: #424242;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  min-width: 320px; }

html {
  overflow-x: hidden; }

.container {
  padding: 0 1rem; }

input, select, textarea {
  font-family: 'Roboto Condensed', sans-serif; }

h1 {
  font-size: 2.625rem;
  margin-bottom: 1.875rem; }

#home h1 {
  color: #fff; }

h2 {
  font-weight: 400;
  font-size: 2.625rem; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  padding: 1.1em 2.25rem;
  transition: 0.2s opacity ease;
  border: none;
  outline: none;
  min-width: 13.4rem;
  text-align: center; }
  .btn + .btn {
    margin-left: 1.7rem; }
  .btn.white {
    background-color: #fff;
    color: #191919; }
  .btn.yellow {
    background-color: #fff;
    color: #ffc431;
    border: 1px solid #ffb900; }
    .btn.yellow:hover {
      background-color: #ffb900;
      color: #fff; }
    .btn.yellow:active {
      opacity: 0.7;
      background-color: #ffb900; }
  .btn.yellow-full {
    background-color: #ffc71f;
    color: #000;
    border: 1px solid #ffb900; }
    .btn.yellow-full:hover {
      opacity: 0.8; }
    .btn.yellow-full:active {
      opacity: 0.7;
      background-color: #ffb900; }
  .btn:hover {
    opacity: 0.8;
    cursor: pointer; }
  .btn:active {
    opacity: 0.7; }

section {
  background-color: #fff;
  padding: 3.125rem 0px 3.75rem; }
  section h2 {
    text-align: center; }
    section h2 + p {
      margin-bottom: 0.75rem;
      margin-top: 2.25rem;
      padding: 0 5.875rem;
      text-align: center; }
  section.gray {
    background-color: #f5f5f5; }
  section .buttons {
    margin-top: 1.75rem; }
  section .subscribe-banner {
    margin-top: -3.125rem;
    margin-bottom: 3.125rem; }
    section .subscribe-banner .banner-wrapper {
      background-color: #191919;
      display: flex;
      align-items: center;
      padding: 0 3.2rem 0 7.1rem;
      height: 5rem;
      position: relative; }
      section .subscribe-banner .banner-wrapper:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5rem 0 0 3.75rem;
        border-color: transparent transparent transparent #fff; }
      section .subscribe-banner .banner-wrapper:after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 5rem 3.75rem;
        border-color: transparent transparent #fff transparent; }
      section .subscribe-banner .banner-wrapper p {
        font-size: 24px;
        color: #fff;
        font-weight: 700; }
      section .subscribe-banner .banner-wrapper .btn {
        margin-left: auto; }
  section .mini-navs {
    text-align: right; }
    section .mini-navs .nav {
      display: inline-block;
      height: 1.8125rem;
      width: 1.8125rem;
      text-align: center;
      line-height: 1.8125rem;
      border-radius: 50%;
      background-color: #000000;
      color: #fff;
      text-decoration: none; }
      section .mini-navs .nav:hover {
        cursor: pointer;
        opacity: 0.9; }
      section .mini-navs .nav:active {
        opacity: 0.8; }
      section .mini-navs .nav.disabled {
        background-color: #e5e5e5;
        color: #585858;
        cursor: auto; }
      section .mini-navs .nav + .nav {
        margin-left: 0.3125rem; }

.news-item {
  text-align: center;
  border: 1px solid #dcdcdc;
  margin-top: 1.25rem; }
  .news-item .image img {
    height: 100%;
    width: 100%; }
  .news-item .info {
    padding: 1.25rem;
    padding-top: 2rem;
    position: relative; }
    .news-item .info .date {
      background-color: #000;
      color: #fff;
      font-size: 0.75rem;
      border-radius: 15px;
      position: absolute;
      top: -1rem;
      left: 50%;
      margin-left: -2.7rem;
      width: 5.4rem;
      padding: 0.5rem 0;
      text-align: center; }
    .news-item .info .title {
      font-size: 1.125rem;
      color: #454646;
      font-weight: 700;
      margin-bottom: 1.625rem; }
    .news-item .info p {
      margin-bottom: 0.9375rem;
      color: #454646; }
    .news-item .info .btn {
      padding: 0.9em 2.25rem; }

.brands {
  display: flex;
  align-items: center;
  margin-top: 3.75rem;
  justify-content: space-around;
  flex-wrap: wrap; }

.subscribe-container {
  position: relative; }
  .subscribe-container:after {
    height: 100%;
    position: absolute;
    content: '';
    right: 0;
    left: 50%;
    top: 0;
    background-color: #ffc62e; }
  .subscribe-container .subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 1.2rem 0; }
    .subscribe-container .subscribe > * {
      z-index: 1; }
    .subscribe-container .subscribe .phone {
      font-weight: 700;
      color: #272222;
      font-size: 1.75rem;
      display: flex;
      align-items: center;
      text-decoration: none;
      z-index: 2; }
      .subscribe-container .subscribe .phone span {
        color: #696969; }
      .subscribe-container .subscribe .phone i {
        display: inline-block;
        border-radius: 50%;
        background-color: #000000;
        color: #fff;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        line-height: 2.5rem;
        font-size: 1.5rem;
        margin-right: 0.82rem; }
    .subscribe-container .subscribe p {
      font-size: 1.75rem;
      position: relative;
      color: #000; }
      .subscribe-container .subscribe p:before {
        position: absolute;
        left: -7.375rem;
        top: -1.875rem;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 5.5rem 5.5rem;
        border-color: transparent transparent #ffc62e transparent;
        z-index: -1; }
      .subscribe-container .subscribe p:after {
        position: absolute;
        content: '';
        left: -1.875rem;
        top: -1.875rem;
        height: 5.5rem;
        width: 100%;
        background-color: #ffc62e;
        z-index: -1; }
    .subscribe-container .subscribe .input-container {
      width: 25.625rem;
      position: relative; }
      .subscribe-container .subscribe .input-container input {
        line-height: 3.1rem;
        width: 100%;
        border-radius: 1.875rem;
        outline: none;
        border: none;
        padding: 0 1.375rem;
        padding-right: 4.5rem;
        color: #626262; }
      .subscribe-container .subscribe .input-container .icon {
        position: absolute;
        height: 3.1rem;
        width: 3.1rem;
        border-radius: 50%;
        background-color: #000;
        right: 0;
        top: 0;
        border: none;
        outline: none;
        background-image: url(../img/mail-send.png);
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: 0.4rem; }
        .subscribe-container .subscribe .input-container .icon:hover {
          cursor: pointer; }
        .subscribe-container .subscribe .input-container .icon:active {
          opacity: 0.8; }

.social {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  text-align: center;
  line-height: 2.2rem;
  display: inline-block; }
  .social .fa {
    font-size: 18px; }
  .social:hover {
    background-color: #000;
    color: #fff; }
  .social + .social {
    margin-left: 0.625rem; }

footer {
  position: relative;
  background-color: #fff;
  z-index: 1;
  overflow: hidden; }
  footer:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: -1;
    background-color: #ffb900; }
  footer .container {
    background-color: #ffb900;
    padding-top: 3.75rem;
    padding-bottom: 2.125rem;
    position: relative;
    z-index: 1; }
    footer .container::before {
      content: '';
      position: absolute;
      right: -3.75rem;
      top: 0;
      z-index: -2;
      background-color: #ffb900;
      width: 3.75rem;
      height: 100%; }
    footer .container::after {
      position: absolute;
      content: '';
      top: 0;
      right: -3.75rem;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 32rem 21rem;
      border-color: transparent transparent #fff transparent;
      z-index: -1; }
  footer .title {
    border-bottom: 1px solid #ffe399;
    margin-bottom: 1.25rem; }
    footer .title span {
      display: inline-block;
      font-size: 1.125rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 0.875rem;
      border-bottom: 1px solid #665b3d;
      margin-bottom: -1px; }
  footer .catalog {
    display: inline-block;
    width: 100%;
    margin-top: 0.75rem;
    margin-bottom: 1.625rem; }
    footer .catalog li a {
      text-decoration: none;
      color: #000; }
      footer .catalog li a:hover {
        text-decoration: underline; }
    footer .catalog li + li {
      margin-top: 1.7rem; }
  footer .tags {
    margin-bottom: 1.625rem; }
    footer .tags .tag {
      display: inline-block;
      margin-right: 0.5rem;
      padding: 0.4rem;
      color: #fff;
      font-size: 0.875rem;
      border: 1px solid #ffe9ac;
      background-color: #473400;
      margin-bottom: 0.625rem;
      text-decoration: none; }
      footer .tags .tag:hover {
        color: #ffb900;
        background-color: #fff;
        border: 1px solid #fff;
        cursor: pointer; }

footer .socials,
.side-subscribe .socials {
  margin-bottom: 1.875rem; }
  footer .socials .social,
  .side-subscribe .socials .social {
    width: 2.375rem;
    height: 2.375rem;
    border: 2px solid #fff;
    color: #fff;
    line-height: 2.3rem; }
    footer .socials .social:hover,
    .side-subscribe .socials .social:hover {
      background-color: #fff;
      color: #ffb900; }

.side-subscribe .socials {
  margin-bottom: 0; }

.lang {
  display: inline-block;
  margin-left: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff; }
  .lang.active {
    color: #000;
    border-bottom: 2px solid #000; }

header .lang {
  color: #8c8c8c; }

.copyright-container {
  position: relative; }
  .copyright-container .copyright {
    position: absolute;
    bottom: -1.875rem;
    right: 1.25rem;
    font-size: 0.875rem;
    color: #000; }

.ok-button {
  height: 31px;
  width: 31px;
  display: inline-block;
  background-image: url("../img/icons/ok.png");
  margin-right: 3.125rem;
  text-decoration: none;
  z-index: 2; }

header {
  position: relative;
  z-index: 99;
  background-color: #fff;
  margin-bottom: 3.75rem; }
  header.home {
    margin-bottom: 0; }
  header .top {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 4.3125rem; }
    header .top .langs {
      margin-top: 0.125rem;
      z-index: 2; }
    header .top .socials {
      margin-right: 3.125rem;
      z-index: 2; }
    header .top .phone {
      margin-right: 4.625rem;
      text-decoration: none;
      color: #272222;
      font-size: 1.375rem;
      font-weight: 700;
      z-index: 2; }
      header .top .phone span {
        color: #696969; }
      header .top .phone .fa {
        color: #ffc229;
        font-size: 1.4375rem; }
  header .header-menu {
    position: absolute;
    height: 3.75rem;
    width: 100%;
    bottom: -3.75rem;
    left: 0;
    z-index: 1; }
    header .header-menu:before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: #000;
      opacity: 0.8; }
    header .header-menu .container {
      position: relative; }
    header .header-menu .logo-back {
      position: absolute;
      height: 3.125rem;
      width: 11.125rem;
      background-color: #fff;
      top: -1px;
      left: 2.5rem; }
      header .header-menu .logo-back .logo {
        position: absolute;
        top: -63px;
        left: 8px;
        display: inline-block;
        text-decoration: none;
        z-index: 1; }
        header .header-menu .logo-back .logo:active {
          transform: translateY(2px); }
      header .header-menu .logo-back:before {
        position: absolute;
        content: '';
        top: 0;
        left: -2.25rem;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 2.25rem 3.125rem 0;
        border-color: transparent #ffffff transparent transparent; }
      header .header-menu .logo-back:after {
        position: absolute;
        content: '';
        top: 0;
        right: -2.25rem;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 3.125rem 2.25rem 0 0;
        border-color: #ffffff transparent transparent transparent; }
    header .header-menu ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 22rem; }
      header .header-menu ul li {
        display: inline-block; }
        header .header-menu ul li a {
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          font-weight: 700;
          height: 3.75rem;
          line-height: 3.75rem;
          display: inline-block;
          position: relative; }
          header .header-menu ul li a:hover {
            background-color: #ffc22b;
            color: #000; }
            header .header-menu ul li a:hover:before {
              position: absolute;
              content: '';
              top: 0;
              right: -2.25rem;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 3.75rem 2.25rem 0 0;
              border-color: #ffc32b transparent transparent transparent; }
            header .header-menu ul li a:hover:after {
              position: absolute;
              content: '';
              top: 0;
              left: -2.25rem;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 0 3.75rem 2.25rem;
              border-color: transparent transparent #ffc32b transparent; }

.search-container {
  position: relative; }
  .search-container button {
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.375rem;
    height: 3.75rem; }
    .search-container button:hover {
      cursor: pointer; }
    .search-container button:active {
      transform: translateY(2px); }
  .search-container input {
    position: absolute;
    height: 3.125rem;
    width: 15rem;
    bottom: -2rem;
    right: 0;
    padding: 0.625rem;
    color: #000;
    border: none;
    outline: none;
    opacity: 0;
    transition: 0.2s all ease;
    pointer-events: none; }
  .search-container:before {
    position: absolute;
    content: '';
    bottom: -2rem;
    left: -15.78rem;
    opacity: 0;
    transition: 0.2s all ease;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2.8125rem 3.125rem 0;
    border-color: transparent #fff transparent transparent; }
  .search-container.active input, .search-container.active:before {
    bottom: -3.125rem;
    opacity: 1;
    pointer-events: auto; }

#home {
  min-height: calc(100vh - 4.3125rem);
  padding: 0;
  padding-top: 3.75rem;
  background-color: #ccc; }
  #home .owl-carousel {
    position: relative; }
    #home .owl-carousel .owl-slide {
      height: calc(100vh - 4.3125rem - 3.75rem);
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center; }
      #home .owl-carousel .owl-slide .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center; }
        #home .owl-carousel .owl-slide .content p {
          color: #fff;
          font-size: 24px;
          margin-bottom: 1.875rem;
          max-width: 60%;
          line-height: 1.4; }
    #home .owl-carousel .owl-dots {
      position: absolute;
      left: 50%;
      bottom: 1.75rem;
      margin-left: -2rem; }
      #home .owl-carousel .owl-dots .owl-dot {
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: #fff; }
        #home .owl-carousel .owl-dots .owl-dot.active {
          background-color: #ffc431; }
        #home .owl-carousel .owl-dots .owl-dot + .owl-dot {
          margin-left: 0.5rem; }
    #home .owl-carousel .owl-prev,
    #home .owl-carousel .owl-next {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -1.4375rem;
      height: 2.875rem;
      width: 2.875rem;
      text-align: center;
      line-height: 2.875rem;
      color: #fff;
      z-index: 1;
      font-size: 30px; }
      #home .owl-carousel .owl-prev:before,
      #home .owl-carousel .owl-next:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000;
        z-index: -1;
        opacity: 0.5; }
    #home .owl-carousel .owl-next {
      left: auto;
      right: 0; }

#menu:not(.mm-menu) {
  display: none; }

.mm-menu {
  --mm-color-background: #000;
  --mm-color-text: #fff;
  --mm-color-button: #fff;
  --mm-color-text-dimmed: #fff;
  font-family: 'Roboto', sans-serif; }

.mm-navbar {
  position: relative; }
  .mm-navbar .mm-navbar__btn {
    position: absolute;
    left: 0;
    bottom: 10px; }

.mm-navbar__title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: left;
  display: block;
  padding: 1.875rem 0.625rem 3.125rem 1.875rem; }

.mm-navbar__btn:not(.mm-hidden) + .mm-navbar__title:last-child {
  padding-left: 1.875rem;
  padding-right: 0.625rem; }

.mm-listitem {
  padding-left: 30px; }
  .mm-listitem a {
    padding: 0.9375rem 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #404040;
    margin-bottom: 0.625rem; }
    .mm-listitem a span {
      display: inline-block;
      vertical-align: middle;
      word-break: break-all;
      white-space: pre-line; }
    .mm-listitem a span:first-of-type {
      display: inline-block;
      width: 50px;
      margin-right: 1rem; }

.menu-bottom {
  margin-top: 2.1875rem;
  margin-bottom: 0.9375rem; }
  .menu-bottom span {
    padding-left: 0;
    font-weight: 900;
    font-size: 1.125rem; }

.mm-listitem.socials .social {
  width: 2.25rem;
  height: 2.25rem;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  padding: 0;
  flex-basis: unset;
  flex-grow: unset; }
  .mm-listitem.socials .social:hover {
    background-color: #fff;
    color: #ffb900; }

.mm-navbar .mm-navbar__btn {
  left: 1.875rem;
  top: 3.75rem; }

.mm-navbar__btn .mm-sronly {
  border: 0 !important;
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  white-space: nowrap !important;
  width: 100px !important;
  min-width: auto !important;
  height: 22px !important;
  min-height: auto !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  color: #fff;
  margin-left: 1.7rem; }

.mm-btn_prev:before {
  width: 0.3rem;
  height: 0.3rem;
  left: 0.55rem;
  top: -5px; }

.mm-btn_prev:after {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-sizing: border-box; }

#close-menu {
  box-sizing: border-box;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  min-height: auto;
  height: 1.375rem;
  width: 1.375rem;
  border-radius: 50%;
  border: 2px solid #fff;
  flex-basis: unset;
  flex-grow: unset;
  display: inline-block;
  line-height: 1.2rem;
  font-size: 11px; }
  #close-menu:hover {
    cursor: pointer; }

.menu-burger {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -1rem;
  right: 3rem;
  height: 2rem;
  width: 2.5rem; }
  .menu-burger span {
    position: absolute;
    display: inline-block;
    top: 50%;
    margin-top: -2px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #fff; }
    .menu-burger span:first-of-type {
      top: 0;
      margin-top: 0; }
    .menu-burger span:last-of-type {
      top: auto;
      margin-top: 0;
      bottom: 0; }
  .menu-burger p {
    position: absolute;
    line-height: 2rem;
    top: 0;
    right: 100%;
    margin-right: 1rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700; }

.breadcrumb {
  background-color: #f7f8f8;
  padding: 0.5rem 0; }
  .breadcrumb ul li {
    display: inline-block;
    position: relative;
    margin-right: 3rem;
    padding: 0.5rem 0; }
    .breadcrumb ul li::after {
      position: absolute;
      content: '>';
      color: #2f2f2f;
      font-weight: 300;
      font-size: 22px;
      right: -1.7rem;
      bottom: 0.3rem;
      transform: scaleX(0.6); }
    .breadcrumb ul li:last-of-type {
      margin-right: 0; }
      .breadcrumb ul li:last-of-type::after {
        content: ''; }
    .breadcrumb ul li a {
      color: #2f2f2f;
      font-weight: 300;
      text-decoration: none; }
      .breadcrumb ul li a:hover {
        text-decoration: underline; }
    .breadcrumb ul li:last-of-type a {
      text-decoration: underline; }

.left-border {
  border-left: 1px solid #000;
  padding-left: 1.25rem; }

.right-padding {
  padding-right: 1.25rem; }

ul.contacts {
  margin-bottom: 1.625rem; }
  ul.contacts li {
    color: #000;
    line-height: 1.1em;
    margin-bottom: 1.75rem;
    position: relative;
    padding-left: 1.75rem; }
    ul.contacts li:last-of-type {
      margin-bottom: 0; }
    ul.contacts li a {
      color: #000; }
    ul.contacts li img {
      position: absolute;
      left: 0;
      top: 0; }
    ul.contacts li span {
      color: #636363; }

#contact {
  font-size: 1.125rem; }
  #contact ul.contacts {
    margin-bottom: 0; }
  #contact h3 {
    color: #000;
    font-size: 1.125rem;
    font-weight: 400;
    border-bottom: 1px solid #000;
    display: inline-block;
    padding-bottom: 1.8rem;
    margin-bottom: 1.4rem; }

.contact-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.8rem; }

.contact-sub-title {
  font-weight: 700;
  padding-left: 1.6rem;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem; }

ul.contacts + .contact-title {
  margin-top: 1.8rem; }

.map-link {
  margin-top: 3.75rem;
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 1; }
  .map-link img {
    width: 100%;
    height: auto;
    z-index: 2; }
  .map-link:before {
    content: '';
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url(../img/map-bg.png);
    background-repeat: no-repeat; }

.calendar {
  padding-left: 2.375rem;
  color: #8e8e8e;
  font-size: 1.125rem;
  margin-bottom: 2.375rem;
  position: relative; }
  .calendar:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 28px;
    width: 28px;
    background-image: url(../img/icons/calendar.png); }

.new-wrapper {
  padding-right: 1.875rem; }
  .new-wrapper h1 {
    text-transform: uppercase;
    font-size: 2.625rem;
    color: #302f2f;
    font-weight: 400;
    margin-bottom: 1.5rem; }
  .new-wrapper p {
    margin-bottom: 1.75rem;
    font-size: 1.125rem;
    color: #424242;
    line-height: 1.4; }
    .new-wrapper p.quote {
      background-color: #f7f8f8;
      padding: 2rem 1.875rem;
      font-size: 30px;
      font-weight: 300;
      text-align: center;
      line-height: 1.2; }
  .new-wrapper img {
    margin-bottom: 2.5rem;
    max-width: 100%; }

.news-navs {
  border-top: 1px solid #000;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 1.25rem; }
  .news-navs .news-nav {
    display: flex;
    text-decoration: none;
    justify-content: center; }
    .news-navs .news-nav:hover {
      opacity: 0.8; }
    .news-navs .news-nav > div {
      text-align: left;
      font-size: 0.875rem;
      max-width: 13rem;
      margin-left: 1.25rem; }
      .news-navs .news-nav > div .title {
        font-weight: 700;
        color: #302f2f;
        text-transform: uppercase; }
      .news-navs .news-nav > div span {
        color: #747474;
        display: inline-block;
        margin-top: 1.125rem; }
    .news-navs .news-nav.next > div {
      text-align: right;
      margin-left: 0;
      margin-right: 1.25rem; }

.side-products h2 {
  font-size: 1.875rem;
  color: #302f2f;
  text-align: left;
  margin-bottom: 2.125rem; }

.side-products .side-product {
  margin-bottom: 1.5rem;
  display: inline-block;
  width: 100%;
  position: relative;
  max-width: 30rem; }
  .side-products .side-product:hover {
    opacity: 0.8; }
  .side-products .side-product img {
    width: 100%;
    height: auto; }
  .side-products .side-product > div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem 1.125rem;
    z-index: 1;
    text-transform: uppercase;
    color: #fbc628;
    font-weight: 700;
    text-align: center; }
    .side-products .side-product > div:before {
      position: absolute;
      z-index: -1;
      content: '';
      opacity: 0.6;
      background-color: #000;
      height: 100%;
      width: 100%;
      left: 0;
      bottom: 0; }

.side-subscribe {
  background-color: #ffc22b;
  padding: 1.875rem 1.125rem;
  max-width: 30rem; }
  .side-subscribe p {
    color: #302f2f;
    font-size: 1.875rem;
    margin-bottom: 1.5rem; }
  .side-subscribe .input-container {
    display: flex;
    height: 3.125rem;
    margin-bottom: 1.25rem; }
    .side-subscribe .input-container input {
      width: 60%;
      border: none;
      outline: none;
      height: 100%;
      border-top-left-radius: 1.5625rem;
      border-bottom-left-radius: 1.5625rem;
      padding: 0 1.375rem;
      color: #626262; }
    .side-subscribe .input-container button {
      width: 40%;
      border: none;
      height: 100%;
      border-top-right-radius: 1.5625rem;
      border-bottom-right-radius: 1.5625rem;
      color: #fff;
      background-color: #000;
      text-transform: uppercase;
      font-weight: 700; }
      .side-subscribe .input-container button:hover {
        cursor: pointer; }

#product h1 {
  color: #302f2f;
  font-size: 2.625rem; }

#product h2 {
  font-size: 2.25rem;
  color: #302f2f;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 2.5rem; }
  #product h2._yellow {
    color: #ffc71f; }

#product p {
  font-size: 18px;
  color: #424242;
  line-height: 1.4; }

#product .buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.75rem; }

#product .photos {
  display: inline-block;
  width: 100%;
  height: 17.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 1.875rem; }
  #product .photos > .icon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.4375rem;
    z-index: 1;
    opacity: 0; }
    #product .photos > .icon:before {
      position: absolute;
      z-index: -1;
      content: '';
      opacity: 0.6;
      background-color: #000;
      height: 100%;
      width: 100%;
      left: 0;
      bottom: 0; }
  #product .photos > .title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem 1.125rem;
    z-index: 1;
    text-transform: uppercase;
    color: #fbc628;
    font-weight: 700;
    text-align: center;
    opacity: 0; }
    #product .photos > .title:before {
      position: absolute;
      z-index: -1;
      content: '';
      opacity: 0.6;
      background-color: #000;
      height: 100%;
      width: 100%;
      left: 0;
      bottom: 0; }
  #product .photos:hover > .title,
  #product .photos:hover > .icon {
    opacity: 1; }

#product .photos-nav {
  text-align: center;
  margin-bottom: 2.5rem; }
  #product .photos-nav.margin {
    margin-top: 1.875rem; }
  #product .photos-nav .page {
    height: 1.375rem;
    width: 1.375rem;
    background-color: #bfbfbf;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none; }
    #product .photos-nav .page + .page {
      margin-left: 0.75rem; }
    #product .photos-nav .page.active {
      background-color: #000; }
    #product .photos-nav .page:hover {
      cursor: pointer;
      opacity: 0.9; }

#product .files {
  margin-top: 4.375rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.75rem; }
  #product .files .file {
    border: 4px solid #ffc71f;
    padding: 1.125rem;
    padding-left: 3.75rem;
    position: relative;
    text-decoration: none;
    width: 22.5rem; }
    #product .files .file:hover {
      opacity: 0.8; }
    #product .files .file img {
      position: absolute;
      top: 0.9375rem;
      left: 1.125rem; }
    #product .files .file .title {
      font-weight: 700;
      text-transform: uppercase;
      color: #343434; }
    #product .files .file .size {
      font-size: 300;
      color: #343434;
      margin-top: 0.1875rem; }

#product .black-divider {
  background-color: #000;
  margin-bottom: 3.125rem; }
  #product .black-divider .container {
    padding: 2rem 1rem;
    position: relative; }
    #product .black-divider .container::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 128px;
      left: -14.3rem;
      top: 0;
      background-image: url(../img/stripes.png);
      background-repeat: no-repeat repeat;
      background-position: top; }

#product .advantages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem; }
  #product .advantages .adv {
    text-align: center; }
    #product .advantages .adv img {
      margin-bottom: 1.875rem; }
    #product .advantages .adv div {
      color: #fff; }

#product .tabs {
  margin-bottom: 0.625rem; }
  #product .tabs .tab {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    color: #707070;
    position: relative;
    margin-right: 4.25rem; }
    #product .tabs .tab:hover:not(.active) {
      opacity: 0.8;
      cursor: pointer; }
    #product .tabs .tab.active {
      color: #000; }
    #product .tabs .tab::after {
      position: absolute;
      content: '';
      height: 1.5rem;
      width: 1px;
      background-color: #dedede;
      font-weight: 300;
      font-size: 22px;
      right: -2.125rem;
      bottom: 0;
      transform: scaleX(0.6); }
    #product .tabs .tab:last-of-type {
      margin-right: 0; }
      #product .tabs .tab:last-of-type::after {
        display: none; }

.flex-form .big {
  font-weight: 700;
  font-size: 1.5rem;
  color: #252525;
  text-transform: uppercase;
  margin-bottom: 3.125rem; }

.flex-form .text {
  color: #252525;
  font-size: 1rem;
  padding-left: 3.75rem;
  position: relative; }
  .flex-form .text span {
    opacity: 0.5; }
  .flex-form .text .check {
    position: absolute;
    left: 1.25rem;
    top: 0;
    height: 1.5rem;
    width: 1.5rem;
    border: 2px solid #000;
    border-radius: 2px; }
    .flex-form .text .check input {
      height: 1.5rem;
      width: 1.5rem;
      opacity: 0;
      margin: 0;
      border: none; }
      .flex-form .text .check input + label {
        opacity: 0;
        position: absolute;
        top: 0.125rem;
        left: 0.2rem;
        margin: 0; }
        .flex-form .text .check input + label:hover {
          cursor: pointer; }
      .flex-form .text .check input:checked + label {
        opacity: 1; }

.flex-form > label {
  font-size: 1.125rem;
  color: #252525;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  display: inline-block; }

.flex-form .form-line {
  display: flex;
  justify-content: space-between; }
  .flex-form .form-line button {
    margin-top: 2.5rem;
    margin-left: auto; }
  .flex-form .form-line .input-container {
    width: 100%;
    margin-bottom: 1.25rem; }
    .flex-form .form-line .input-container.w2 {
      width: 48%; }
    .flex-form .form-line .input-container input[type="text"], .flex-form .form-line .input-container textarea {
      width: 100%;
      background-color: #f2f2f2;
      color: #252525;
      font-size: 1rem;
      border: none;
      padding: 1.3rem;
      outline: none;
      border-radius: 1.8rem; }
      .flex-form .form-line .input-container input[type="text"]::placeholder, .flex-form .form-line .input-container textarea::placeholder {
        color: #252525; }
    .flex-form .form-line .input-container textarea {
      height: 12.5rem;
      resize: none; }
    .flex-form .form-line .input-container textarea::-webkit-input-placeholder {
      font-size: 16px;
      font-family: 'Roboto Condensed', sans-serif; }

.select-container {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 1.25rem; }
  .select-container.w2 {
    width: 48%; }
  .select-container .icon {
    height: 2.6875rem;
    width: 2.6875rem;
    background-color: #f2f2f2;
    background-image: url(../img/icons/select.png);
    position: absolute;
    top: 50%;
    margin-top: -1.34rem;
    right: 9px;
    pointer-events: none;
    z-index: 2; }
  .select-container select {
    width: calc(100% - 2.6rem);
    background-color: #f2f2f2;
    color: #252525;
    font-size: 1rem;
    border: none;
    padding: 1.3rem 0;
    outline: none;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    z-index: 1; }
    .select-container select:hover {
      cursor: pointer; }
  .select-container:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1.8rem;
    background-color: #f2f2f2;
    left: 0;
    top: 0;
    border-top-left-radius: 1.8rem;
    border-bottom-left-radius: 1.8rem;
    z-index: -1; }
  .select-container:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 4rem;
    background-color: #f2f2f2;
    right: 0;
    top: 0;
    border-top-right-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
    z-index: 1; }

.scope {
  height: 22.625rem;
  margin-top: 1.875rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%; }
  .scope:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #ffb900;
    transition: 0.2s width ease;
    z-index: 2; }
  .scope > .content {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 1.5rem 1.375rem;
    z-index: 3; }
    .scope > .content > .title {
      color: #fff;
      font-size: 1.375rem;
      text-transform: uppercase;
      max-width: 66%;
      margin-bottom: 2rem;
      line-height: 1.3em; }
    .scope > .content > p {
      color: #191919;
      z-index: 3;
      line-height: 1.4em;
      display: none; }
    .scope > .content .pin {
      position: absolute;
      bottom: 1.5rem;
      left: 1.375rem;
      border-radius: 50%;
      color: #fff;
      border: 2px solid #fff;
      height: 1.75rem;
      width: 1.75rem;
      line-height: 1.6rem;
      text-align: center; }
  .scope:hover {
    cursor: pointer; }
    .scope:hover:after {
      width: 100%; }
    .scope:hover .content p {
      display: block; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  display: flex;
  width: 100%;
  color: #252525;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 1.8rem;
  font-weight: 700;
  height: 3.75rem;
  align-items: center; }
  .inputfile + label span.button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    width: 10rem;
    border-top-left-radius: 1.8rem;
    border-bottom-left-radius: 1.8rem; }
  .inputfile + label span.filename {
    font-weight: 400;
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-top-right-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
    padding: 0 1rem; }
  .inputfile + label:hover {
    cursor: pointer; }

.inputfile:focus + label,
.inputfile + label:hover {
  opacity: 0.8; }

.news-slider.owl-carousel {
  position: relative;
  padding-top: 1.875rem; }
  .news-slider.owl-carousel .owl-nav {
    position: absolute;
    top: 0;
    right: 0; }
    .news-slider.owl-carousel .owl-nav button {
      height: 1.8125rem;
      width: 1.8125rem;
      text-align: center;
      line-height: 1.8125rem;
      border-radius: 50%;
      background-color: #000000;
      color: #fff;
      text-decoration: none; }
      .news-slider.owl-carousel .owl-nav button.disabled {
        background-color: #e5e5e5;
        color: #585858;
        cursor: auto; }
      .news-slider.owl-carousel .owl-nav button + button {
        margin-left: 0.5rem; }

.photo-slider.owl-carousel .owl-dots {
  text-align: center;
  margin-bottom: 2.5rem; }
  .photo-slider.owl-carousel .owl-dots .owl-dot {
    height: 1.375rem;
    width: 1.375rem;
    background-color: #bfbfbf;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none; }
    .photo-slider.owl-carousel .owl-dots .owl-dot + .owl-dot {
      margin-left: 0.75rem; }
    .photo-slider.owl-carousel .owl-dots .owl-dot.active {
      background-color: #000; }
    .photo-slider.owl-carousel .owl-dots .owl-dot:hover {
      cursor: pointer;
      opacity: 0.9; }

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px; }
  .tabs .input {
    position: absolute;
    opacity: 0; }
    .tabs .input:checked + .label {
      background: #f7f8f8;
      color: #424242;
      border-bottom: 4px solid #ffc22b; }
  .tabs .label {
    width: auto;
    cursor: pointer;
    font-size: 18px;
    color: #919191;
    padding: 20px 24px;
    border-bottom: 4px solid #fff; }
  .tabs .panel {
    display: none;
    padding: 1.25rem 18px 0px;
    background: #f7f8f8;
    order: 99;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .tabs .panel .pcell {
      width: 31%; }
      .tabs .panel .pcell.w50 {
        width: 48%; }
  .tabs .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 1.25rem; }
    .tabs .buttons .btn {
      min-width: 146px; }
  .tabs .input-container {
    width: 100%;
    margin-bottom: 1.25rem; }
    .tabs .input-container input[type="text"] {
      width: 100%;
      background-color: #fff;
      color: #252525;
      font-size: 1rem;
      border: none;
      padding: 1rem 1.3rem;
      outline: none;
      border-radius: 1.8rem;
      border: #dedfdf 1px solid; }
  .tabs .select-container .borders {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
    .tabs .select-container .borders::before {
      position: absolute;
      content: '';
      top: 0px;
      left: 20px;
      right: 27px;
      height: 1px;
      background-color: #dedfdf; }
    .tabs .select-container .borders::after {
      position: absolute;
      content: '';
      bottom: -2px;
      left: 22px;
      right: 27px;
      height: 1px;
      background-color: #dedfdf; }
  .tabs .select-container .icon {
    background-image: url(../img/icons/select-gray.png);
    background-color: #fff;
    border-radius: 6px; }
  .tabs .select-container::before {
    background-color: #fff;
    border: #dedfdf 1px solid;
    border-top-left-radius: 2.8rem;
    border-bottom-left-radius: 2.8rem;
    width: 4rem;
    left: -5px; }
  .tabs .select-container::after {
    background-color: #fff;
    border: #dedfdf 1px solid;
    border-left: none;
    border-top-right-radius: 2.8rem;
    border-bottom-right-radius: 2.8rem; }
  .tabs .select-container select {
    background-color: #fff;
    border-radius: 4px;
    padding: 1rem 0; }
    .tabs .select-container select::before {
      position: absolute;
      content: '';
      height: 1px;
      width: 100%;
      background-color: #dedfdf;
      top: 0;
      left: 0; }
  .tabs .input:checked + .label + .panel {
    display: flex; }

.catalog-item {
  display: flex;
  margin-bottom: 30px;
  border: 1px solid #000;
  overflow: hidden; }
  .catalog-item .img {
    width: 22.5rem;
    height: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover; }
    .catalog-item .img:before {
      position: absolute;
      content: '';
      height: 100%;
      width: 16px;
      left: 0px;
      top: 0;
      background-image: url(../img/stripes.png);
      background-repeat: no-repeat repeat;
      background-position: top; }
  .catalog-item .desc {
    width: calc( 100% - 22.5rem);
    padding: 1.5rem 14px 12px 30px; }
    .catalog-item .desc .title {
      font-size: 26px;
      color: #191919;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 28px; }
    .catalog-item .desc .table {
      width: 520px; }
      .catalog-item .desc .table .trow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        color: #1d1d1d;
        background-color: #f7f8f8;
        padding: 1rem; }
        .catalog-item .desc .table .trow:nth-child(2n) {
          background-color: #fff; }
        .catalog-item .desc .table .trow .label {
          word-break: break-all; }
        .catalog-item .desc .table .trow .value {
          margin-left: auto;
          width: 100px;
          text-align: right; }
  .catalog-item .buttons {
    margin-top: -10px;
    text-align: right; }
    .catalog-item .buttons .btn {
      min-width: 160px; }

.paginator {
  font-size: 0;
  margin-top: 12px; }
  .paginator a, .paginator div {
    height: 38px;
    width: 38px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50%;
    border: 2px solid #000;
    line-height: 38px;
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    transition: 0.1s all ease; }
    .paginator a + a, .paginator a + div, .paginator div + a, .paginator div + div {
      margin-left: 10px; }
    .paginator a i, .paginator div i {
      font-size: 24px;
      vertical-align: text-bottom; }
    .paginator a:first-of-type i, .paginator div:first-of-type i {
      margin-right: 2px; }
    .paginator a:last-of-type i, .paginator div:last-of-type i {
      margin-left: 2px; }
  .paginator a:hover {
    border: 2px solid #ffc22b;
    color: #ffc22b; }
  .paginator div {
    border: 2px solid #ffc22b;
    color: #ffc22b; }

@media screen and (max-width: 75em) {
  #product .files .file {
    width: 18rem; }
  .tabs .buttons .btn {
    min-width: auto; }
  .tabs .panel .pcell {
    width: 48%; }
  .catalog-item .buttons {
    margin-top: 1rem; }
  .catalog-item .desc .table {
    width: 100%; } }

@media screen and (max-width: 64em) {
  .catalog-item .img {
    width: 16rem; }
  .catalog-item .desc {
    width: calc( 100% - 16rem); }
  #product .advantages {
    display: block; }
    #product .advantages .adv {
      margin-bottom: 4rem; }
  #product .files {
    display: block; }
    #product .files .file {
      width: 100%;
      display: inline-block;
      margin-bottom: 1rem; }
  #product .tabs .tab {
    margin-bottom: 1rem; }
  .side-products {
    text-align: center; }
  .side-subscribe {
    margin: 0 auto; }
  footer {
    background-color: #ffb900; }
    footer .container::after, footer .container::before {
      display: none; }
  .brands {
    margin-top: 1.875rem;
    display: block;
    text-align: center; }
    .brands .brand {
      padding: 0 0.625rem;
      display: inline-block;
      margin-top: 1.875rem;
      vertical-align: middle; }
  section .subscribe-banner .banner-wrapper {
    margin-left: -15px;
    margin-right: -15px; }
  section .subscribe-banner .banner-wrapper p {
    font-size: 20px; }
  .subscribe-container .subscribe {
    flex-direction: column; }
  .subscribe-container .subscribe p:before,
  .subscribe-container .subscribe p:after {
    display: none; }
  .subscribe-container:after {
    display: none; }
  .subscribe-container {
    background-color: #ffc62e; }
  .subscribe-container .subscribe .input-container,
  .subscribe-container .subscribe p {
    margin-top: 1rem; }
  header .header-menu ul {
    display: none; }
  .menu-burger {
    display: block; }
  header .top .socials,
  .ok-button {
    margin-right: 1rem; }
  header .top .phone {
    margin-right: 1.5rem; } }

@media screen and (max-width: 48em) {
  .tabs .label {
    width: 100%;
    text-align: center; }
  .catalog-item {
    flex-wrap: wrap; }
  .catalog-item .img {
    width: 100%;
    height: 240px; }
  .catalog-item .desc {
    width: 100%; }
  .tabs .panel .pcell {
    width: 100%; }
  .tabs .buttons {
    flex-direction: row; }
  .tabs .buttons .btn {
    padding: 1em 2rem; }
  .tabs .buttons .btn + .btn {
    margin-top: 0; }
  .flex-form .form-line {
    flex-wrap: wrap; }
  .flex-form .form-line .input-container.w2,
  .flex-form .form-line .select-container.w2 {
    width: 100%; }
  .news-navs {
    display: block; }
  .news-navs .news-nav {
    width: 100%; }
  .news-navs .news-nav > div {
    max-width: none; }
  header .header-menu .logo-back:before {
    left: -2.2rem; }
  header .header-menu .logo-back:after {
    right: -2.2rem; }
  header .top {
    height: auto;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    padding-bottom: 4rem; }
  .menu-burger {
    right: 1rem; }
  section h2 + p {
    padding: 0; }
  .buttons {
    display: flex;
    flex-direction: column; }
    .buttons .btn {
      max-width: 18rem;
      margin: 0 auto; }
    .buttons .btn + .btn {
      margin-top: 1rem; }
  section .subscribe-banner .banner-wrapper:before,
  section .subscribe-banner .banner-wrapper:after {
    display: none; }
  section .subscribe-banner .banner-wrapper {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem; }
    section .subscribe-banner .banner-wrapper p {
      text-align: center; }
    section .subscribe-banner .banner-wrapper .btn {
      margin-left: 0;
      margin-top: 1rem; }
  .subscribe-container .subscribe .input-container {
    width: 20rem; }
  .left-border {
    border-left: none;
    padding-left: 0.5rem; }
  .right-padding {
    padding-right: 0.5rem; }
  .map-link {
    margin-bottom: 3.75rem; } }
